.inrow {
  width: 42.5%;
}

.marginr {
  margin-right: 5%;
}

mat-form-field {
  width: 90%;
}

mat-card {
  width: 50%;
  min-width: 190px;
  max-width: 550px;
}

mat-card-actions {
  margin-top: 50px;
}