<div class="card-container">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      <div>
        <mat-card-title>
          Csomag 1.
        </mat-card-title>
        <mat-card-subtitle>
          Ár: 2500Ft/hó
        </mat-card-subtitle>
      </div>
      <mat-card-content>
        <div class="list-label">Tartalmaz:</div>
        <ul>
          <li>100 perc vagy SMS belföldön</li>
          <li>Keret elfogyása esetén: 30Ft/perc, 25Ft/SMS</li>
          <li>4GB mobilinternet</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/subscribe/1">
          <mat-icon>check_circle</mat-icon>Kiválaszt
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      <div>
        <mat-card-title>
          Csomag 2.
        </mat-card-title>
        <mat-card-subtitle>
          Ár: 3500Ft/hó
        </mat-card-subtitle>
      </div>
      <mat-card-content>
        Tartalmaz:
        <ul>
          <li>150 perc vagy SMS belföldön</li>
          <li>Keret elfogyása esetén: 20Ft/perc, 15Ft/SMS</li>
          <li>4GB mobilinternet</li>
          <li>Korlátlan mobilinternet használat egyes alkalmazásoknál</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/subscribe/2">
          <mat-icon>check_circle</mat-icon>Kiválaszt
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      <div>
        <mat-card-title>
          Csomag 3.
        </mat-card-title>
        <mat-card-subtitle>
          Ár: 6500Ft/hó
        </mat-card-subtitle>
      </div>
      <mat-card-content>
        Tartalmaz:
        <ul>
          <li>Korlátlan hívás vagy SMS belföldön és hálózaton belül</li>
          <li>Hálózaton kívül: 10Ft/perc, 10Ft/SMS</li>
          <li>16GB mobilinternet</li>
          <li>Korlátlan mobilinternet használat egyes alkalmazásoknál</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/subscribe/3">
          <mat-icon>check_circle</mat-icon>Kiválaszt
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>