<div class="card-container">
  <mat-card>
    <mat-card-title>
      Stuff
    </mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus dui vitae cursus sollicitudin. Sed metus libero, ornare in felis.
      </p>
      <p>
        Aenean eu venenatis ex. Nam auctor dignissim leo nec venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in sem vel mauris placerat tempus ac non arcu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/plans"><mat-icon>sim_card</mat-icon>Csomagok</button>
    </mat-card-actions>
  </mat-card>
</div>