<div class="card-container">
  <mat-card>
    <mat-card-title>
      Mobil előfizetés
    </mat-card-title>
    <mat-card-content>
      <p>
        Cégünk 2022-ben alakult azzal a céllal, hogy egy olcsóbb és jobb minőségű szolgáltatást nyújtson versenytársainkkal szemben.
      </p>
      <p>
        Kimagasló lefedettséggel és versenyképes árainkkal gyorsan az ország jelentős mobil szolgáltatójává váltunk.
      </p>
      <p>
        Ha te is szeretnél a fejlődés részese lenni fizess elő egyik csomagunkra!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/plans"><mat-icon>sim_card</mat-icon>Csomagok</button>
    </mat-card-actions>
  </mat-card>
</div>